[Unit]
Description=Monitor ipv6 addresses
Requires=dbus.socket
After=network-online.target dbus.socket
Wants=network-online.target

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
EnvironmentFile=/etc/conf.d/monitor-ipv6
ProtectSystem=strict
ProtectHome=true
ExecStart=/usr/bin/monitor-ipv6
Restart=on-failure

[Install]
WantedBy=multi-user.target
